@import "tailwindcss";

@config "./tailwind.config.js";

@layer base {
    *:focus-visible {
        @apply z-10 outline-none ring-2 ring-on-surface;
    }

    body {
        @apply bg-view text-on-surface overflow-x-hidden
    }

    h2 {
        @apply text-3xl font-extrabold
    }

    h3 {
        @apply text-lg font-bold
    }

    h4 {
        @apply font-bold
    }

    header {
        @apply flex mx-auto p-4 max-w-screen-xl
    }

    main {
        @apply space-y-4 mx-auto mb-24 px-6 w-full max-w-lg
    }

    input:not([type="checkbox"]), select {
        @apply bg-surface px-3 py-2 border border-on-surface-var rounded-lg focus-visible:ring-1 w-full h-10 text-on-surface placeholder-on-surface-var;
    }

    /* Fix for Safari on iOS */
    input[type="date"] {
        @apply block;
        -webkit-appearance: textfield;
        -mox-appearance: textfield;
        appearance: textfield;
    }
}

@utility clickable {
    @apply transition duration-200 cursor-pointer;

    &:hover {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
    }

    &:active {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    }
}

@layer components {
    .btn {
        @apply clickable focus-visible:ring-offset-2 flex items-center truncate
    }

    .btn-md {
        @apply clickable min-h-10 min-w-10 px-3 py-2 gap-2 rounded-lg justify-center font-bold
    }

    .btn-lg {
        @apply clickable min-h-12 min-w-12 px-4 py-3 gap-2 rounded-full justify-center font-bold
    }

    .suggested {
        @apply bg-primary text-on-primary
    }

    .link {
        @apply underline
    }
}
