@import "tailwindcss";

@source "../views/**/*.templ";

@theme {
    --color-*: initial;
    --color-primary: rgb(66 104 52);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(195 239 173);
    --color-secondary: rgb(43 106 70);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(175 242 196);
    --color-tertiary: rgb(56 102 103);
    --color-on-tertiary: rgb(255 255 255);
    --color-tertiary-container: rgb(188 235 237);
    --color-error: rgb(186 26 26);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(255 218 214);
    --color-background: rgb(248 250 240);
    --color-on-background: rgb(25 29 23);
    --color-surface: rgb(248 250 240);
    --color-on-surface: rgb(25 29 23);
    --color-surface-variant: rgb(223 228 215);
    --color-on-surface-variant: rgb(67 72 63);
    --color-outline: rgb(115 121 110);
    --color-outline-variant: rgb(195 200 187);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-surface-dim: rgb(216 219 209);
    --color-surface-bright: rgb(248 250 240);
    --color-surface-container-lowest: rgb(255 255 255);
    --color-surface-container-low: rgb(242 245 234);
    --color-surface-container: rgb(236 239 229);
    --color-surface-container-high: rgb(231 233 223);
    --color-surface-container-highest: rgb(225 228 218);

    --radius-card: 40px;
}

@layer base {
    body {
        @apply bg-surface-container-highest text-on-surface h-screen w-full overflow-x-hidden;
    }

    main {
        @apply bg-surface-container rounded-tl-card ml-64 h-full p-4;
    }

    h2 {
        @apply text-3xl font-extrabold
    }

    h3 {
        @apply text-lg font-bold
    }

    h4 {
        @apply font-bold
    }

    input:not([type="checkbox"]), select {
        @apply border-outline placeholder-outline text-on-surface h-10 w-full rounded-xl border px-3 py-2;

        &:focus-visible {
            @apply border-on-surface ring-on-surface outline-none ring-1;
        }
    }

    /* Fix for Safari on iOS */
    input[type="date"] {
        @apply block;
        -webkit-appearance: textfield;
        -mox-appearance: textfield;
        appearance: textfield;
    }
}

@utility clickable {
    &:not(:disabled) {
        @apply cursor-pointer transition-shadow duration-200;

        &:hover {
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
        }

        &:active {
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
        }

        &:focus-visible {
            @apply ring-on-surface ring-offset-on-primary z-10 outline-none ring-2 ring-offset-2;
        }
    }
}

@utility button {
    @apply flex items-center justify-center gap-2 truncate rounded-full font-bold;

    &:disabled {
        @apply bg-surface-dim text-outline;
    }
}

@layer components {
    .btn-md {
        @apply clickable button min-h-10 min-w-10 px-3 py-2;
    }

    .btn-lg {
        @apply clickable button min-h-12 min-w-12 px-4 py-3;
    }

    .card-group-row {
        @apply flex flex-row gap-1;

        &>* {
            @apply not-first:rounded-l-md not-last:rounded-r-md first:rounded-l-card last:rounded-r-card;
        }
    }

    .card-group-col {
        @apply flex flex-col gap-1;

        &>* {
            @apply not-first:rounded-t-md not-last:rounded-b-md first:rounded-t-card last:rounded-b-card;
        }
    }

    .checkbox {
        @apply border-outline text-on-primary clickable h-5 w-5 rounded-md border text-sm;

        &:has(input[type="checkbox"]:checked) {
            @apply border-none bg-primary
        }
    }
}
