@import "tailwindcss";

@source "../views/**/*.templ";

@theme {
    --color-*: initial;
    --color-primary: rgb(66 104 52);
    --color-on-primary: rgb(255 255 255);
    --color-primary-container: rgb(195 239 173);
    --color-secondary: rgb(43 106 70);
    --color-on-secondary: rgb(255 255 255);
    --color-secondary-container: rgb(175 242 196);
    --color-error: rgb(186 26 26);
    --color-on-error: rgb(255 255 255);
    --color-error-container: rgb(255 218 214);
    --color-surface-highest: rgb(255 255 255);
    --color-surface-high: rgb(242 245 234);
    --color-surface: rgb(236 239 229);
    --color-surface-low: rgb(231 233 223);
    --color-surface-lowest: rgb(225 228 218);
    --color-on-surface: rgb(25 29 23);
    --color-surface-dim: rgb(216 219 209);
    --color-on-surface-dim: rgb(115 121 110);
    --color-outline: rgb(195 200 187);
    --color-scrim: rgb(0 0 0);

    --radius-*: initial;
    /* Used for button groups and chips. */
    --radius-sm: 8px;
    /* Used for small cards. */
    --radius-md: 24px;
    /* Used for large cards. */
    --radius-lg: 40px;
}

@layer base {
    body {
        @apply bg-surface-lowest text-on-surface h-screen w-screen overflow-x-hidden;
    }

    h2 {
        @apply pt-2 text-3xl font-extrabold;
    }

    h3 {
        @apply text-lg font-bold;
    }

    h4 {
        @apply font-bold;
    }

    input:not([type="checkbox"]),
    select {
        @apply border-on-surface-dim placeholder-on-surface-dim text-on-surface rounded-[12px] h-10 w-full border px-3 py-2;

        &:focus-visible {
            @apply border-on-surface ring-on-surface outline-none ring-1;
        }
    }

    /* Fix for Safari on iOS */
    input[type="date"] {
        @apply block;
        -webkit-appearance: textfield;
        -mox-appearance: textfield;
        appearance: textfield;
    }

    button:not(:disabled) {
        @apply clickable;
    }
}

@utility clickable {
    @apply pointer-events-auto cursor-pointer transition-shadow duration-200;

    &:hover {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
    }

    &:active {
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    }

    &:focus-visible {
        @apply ring-on-surface ring-offset-on-primary z-10 outline-none ring-2 ring-offset-2;
    }
}

@utility striped-* {
    background-image: repeating-linear-gradient(
        45deg,
        --value(--color-*) 0,
        --value(--color-*) 1px,
        transparent 0,
        transparent 50%
    );
    background-size: 8px 8px;
}

@layer components {
    .button {
        @apply min-h-10 min-w-10 flex items-center justify-center gap-2 truncate rounded-full px-3 py-2 font-bold;

        &:disabled {
            @apply opacity-50;
        }
    }

    .card-group-row {
        @apply flex flex-row gap-1;

        & > * {
            @apply not-first:rounded-l-sm not-last:rounded-r-sm first:rounded-l-md last:rounded-r-md;
        }
    }

    .card-group-col {
        @apply flex flex-col gap-1;

        & > * {
            @apply not-first:rounded-t-sm not-last:rounded-b-sm first:rounded-t-md last:rounded-b-md;
        }
    }

    .checkbox {
        @apply border-on-surface-dim text-on-primary clickable h-5 w-5 rounded-[6px] border text-sm;

        &:has(input[type="checkbox"]:checked) {
            @apply border-none bg-primary;
        }
    }

    /* Needed to round bottom event corners in calendar. */
    .last-child-rounded-bl {
        &:last-child > * {
            overflow: hidden;
            border-bottom-left-radius: calc(var(--radius-lg) - 8px);
        }
    }

    .last-child-rounded-br {
        &:last-child > * {
            overflow: hidden;
            border-bottom-right-radius: calc(var(--radius-lg) - 8px);
        }
    }
}
