package term

import (
	"calendorario/pkg/database"
	"calendorario/pkg/templates"
	"calendorario/routes"
)

templ View(term database.Term, isNew bool) {
	@templates.FormScaffold(
		"Periodo scolastico",
		routes.RouteTerm,
		int(term.ID),
		isNew,
		[]templ.Component{
			templates.FormInputText("Nome del periodo", KeyName, term.Name),
			templates.FormInputTwoDates(
				"Date di inizio e fine",
				KeyStartDate,
				term.StartDate,
				KeyEndDate,
				term.EndDate,
			),
		},
	)
}
