package term

import (
	"calendorario/pkg/database"
	"calendorario/routes"
)

templ View(term database.Term, isNew bool) {
	@routes.FormScaffold(
		"Periodo scolastico",
		routes.RouteTerm,
		int(term.ID),
		KeyID,
		isNew,
		[]templ.Component{
			routes.FormInputText("Nome del periodo", KeyName, term.Name),
			routes.FormInputTwoDates(
				"Date di inizio e fine",
				KeyStartDate,
				term.StartDate,
				KeyEndDate,
				term.EndDate,
			),
		},
	)
}
