package views

templ head() {
	<head>
		<title>Calendorario</title>
		<link href="/public/css/tailwind.css" rel="stylesheet"/>
		<link href="/public/css/fontawesome.min.css" rel="stylesheet"/>
		<script src="/public/alpinejs.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="author" content="Fabrizio Alberio"/>
		<meta name="description" content="https://github.com/fabrialberio"/>
	</head>
}
